.display{
    height: 500px;
    width: 80%;
    margin: auto;
    border: 1px solid #000;
    margin-bottom: 100px;

    .active{
        font-weight: bold; 
    }
    .mid-panel{
        margin-bottom: 50px;
        height: 100%;
        .d3-container{
            height: 100%;
            border: 1px solid #000; 
           .d3-panel{
                width: 100%;
                padding: 50px;

            }
        }
    }
    .categories{

    }
    .stocks, .active-stocks{
        height: 300px;
        text-align: right;
        overflow-y: scroll;
        .add-stock{
            background-color: #ccc;
            height: 12px;
            width: 12px;
            border-radius: 6px;
        }
    }
}

body { font: 12px Arial;}
path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}