.display{
    height: 500px;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;

    .active{
        font-weight: bold; 
    }
    .mid-panel{
        margin-bottom: 50px;
        height: 100%;
        .d3-container{
            height: 100%;
            border: 1px solid #000; 
           .d3-panel{
                width: 100%;
                padding: 50px;

            }
        }
    }
    .categories{
        font-size: 1.4rem;
    }
    .categories{
        .category-entry{
            position: relative;
            height: 25px;
            font-size: 14px;
            .category-text{
                padding-left: 15px;
            }
            .add-category{
                position: absolute;
                top: 1px;
                left: 0px;
                background-color: #ccc;
                &.selected{
                    background-color: #999;
                }
                height: 12px;
                width: 12px;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }
    .stocks, .active-stocks{
        height: 300px;
        overflow-y: scroll;
        .stock-entry{
            position: relative;
            height: 25px;
            .stock-symbol{
                padding-left: 15px;
            }
            .add-stock{
                position: absolute;
                top: 1px;
                left: 0px;
                background-color: #ccc;
                height: 12px;
                width: 12px;
                border-radius: 6px;
                cursor: pointer;
                &.color1{
                    background-color: #202d80;
                }
                &.color2{
                    background-color: #e50000;
                }
                &.color3{
                    background-color: #f2c200;
                }
                &.color4{
                    background-color: #00331b;
                }
                &.color5{
                    background-color: #0081f2;
                }
                &.color6{
                    background-color: #d90000;
                }
                &.color7{
                    background-color: #79f299;
                }
                &.color8{
                    background-color: #330000;
                }
                &.color9{
                    background-color: #53a68a;
                }
                &.color10{
                    background-color: #8c2377;
                }
                &.color11{
                    background-color: #ee00ff;
                }
                &.color12{
                    background-color: #999173;
                }
                &.color13{
                    background-color: #669ccc;
                }
                &.color14{
                    background-color: #594316;
                }
                &.color15{
                    background-color: #ff80f6;
                }
            }
            .remove-stock{
                position: absolute;
                top: 1px;
                right: 0px;
                cursor: pointer;
                color: red;
                font-weight: bolder;
            }
        }
    }
}

body { 
font: 12px Arial;
}
path {
    stroke-width: 1;
    fill: none;
}

path:hover {
    stroke-width: 2;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}