.display {
  height: 500px;
  width: 80%;
  margin: auto;
  margin-bottom: 100px; }
  .display .active {
    font-weight: bold; }
  .display .mid-panel {
    margin-bottom: 50px;
    height: 100%; }
    .display .mid-panel .d3-container {
      height: 100%;
      border: 1px solid #000; }
      .display .mid-panel .d3-container .d3-panel {
        width: 100%;
        padding: 50px; }
  .display .categories {
    font-size: 1.4rem; }
  .display .categories .category-entry {
    position: relative;
    height: 25px;
    font-size: 14px; }
    .display .categories .category-entry .category-text {
      padding-left: 15px; }
    .display .categories .category-entry .add-category {
      position: absolute;
      top: 1px;
      left: 0px;
      background-color: #ccc;
      height: 12px;
      width: 12px;
      border-radius: 6px;
      cursor: pointer; }
      .display .categories .category-entry .add-category.selected {
        background-color: #999; }
  .display .stocks, .display .active-stocks {
    height: 300px;
    overflow-y: scroll; }
    .display .stocks .stock-entry, .display .active-stocks .stock-entry {
      position: relative;
      height: 25px; }
      .display .stocks .stock-entry .stock-symbol, .display .active-stocks .stock-entry .stock-symbol {
        padding-left: 15px; }
      .display .stocks .stock-entry .add-stock, .display .active-stocks .stock-entry .add-stock {
        position: absolute;
        top: 1px;
        left: 0px;
        background-color: #ccc;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        cursor: pointer; }
        .display .stocks .stock-entry .add-stock.color1, .display .active-stocks .stock-entry .add-stock.color1 {
          background-color: #202d80; }
        .display .stocks .stock-entry .add-stock.color2, .display .active-stocks .stock-entry .add-stock.color2 {
          background-color: #e50000; }
        .display .stocks .stock-entry .add-stock.color3, .display .active-stocks .stock-entry .add-stock.color3 {
          background-color: #f2c200; }
        .display .stocks .stock-entry .add-stock.color4, .display .active-stocks .stock-entry .add-stock.color4 {
          background-color: #00331b; }
        .display .stocks .stock-entry .add-stock.color5, .display .active-stocks .stock-entry .add-stock.color5 {
          background-color: #0081f2; }
        .display .stocks .stock-entry .add-stock.color6, .display .active-stocks .stock-entry .add-stock.color6 {
          background-color: #d90000; }
        .display .stocks .stock-entry .add-stock.color7, .display .active-stocks .stock-entry .add-stock.color7 {
          background-color: #79f299; }
        .display .stocks .stock-entry .add-stock.color8, .display .active-stocks .stock-entry .add-stock.color8 {
          background-color: #330000; }
        .display .stocks .stock-entry .add-stock.color9, .display .active-stocks .stock-entry .add-stock.color9 {
          background-color: #53a68a; }
        .display .stocks .stock-entry .add-stock.color10, .display .active-stocks .stock-entry .add-stock.color10 {
          background-color: #8c2377; }
        .display .stocks .stock-entry .add-stock.color11, .display .active-stocks .stock-entry .add-stock.color11 {
          background-color: #ee00ff; }
        .display .stocks .stock-entry .add-stock.color12, .display .active-stocks .stock-entry .add-stock.color12 {
          background-color: #999173; }
        .display .stocks .stock-entry .add-stock.color13, .display .active-stocks .stock-entry .add-stock.color13 {
          background-color: #669ccc; }
        .display .stocks .stock-entry .add-stock.color14, .display .active-stocks .stock-entry .add-stock.color14 {
          background-color: #594316; }
        .display .stocks .stock-entry .add-stock.color15, .display .active-stocks .stock-entry .add-stock.color15 {
          background-color: #ff80f6; }
      .display .stocks .stock-entry .remove-stock, .display .active-stocks .stock-entry .remove-stock {
        position: absolute;
        top: 1px;
        right: 0px;
        cursor: pointer;
        color: red;
        font-weight: bolder; }

body {
  font: 12px Arial; }

path {
  stroke-width: 1;
  fill: none; }

path:hover {
  stroke-width: 2; }

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges; }

/*# sourceMappingURL=style.css.map */
