.display{
    height: 500px;
    width: 80%;
    margin: auto;
    border: 1px solid #000;
    .left-panel{
        padding: 0;
        .stocks{
            .category-display{
                width: 100%;
                height: 50px;
                border: 1px solid #000;
            }
        }
    }
    .mid-panel{
        padding: 0;
        height: 100%;
        .d3-container{
            height: 100%;
            border: 1px solid #000; 
           .d3-panel{
                width: 100%;
            }
        }
    }
    .right-panel{

    }
}
