<!DOCTYPE html>

<html>

	<style> /* set the CSS */

		body { font: 12px Arial;}

		path {
		stroke: steelblue;
		stroke-width: 2;
		fill: none;
		}

		.axis path,
		.axis line {
		fill: none;
		stroke: grey;
		stroke-width: 1;
		shape-rendering: crispEdges;
		}

</style>

	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>

		<title>stockR</title>



	</head>

	<body>
    	<h1 align="center">stockR</h1>

    	<div class="container">
    		<div class="row row-centered">
	       		<div class="col-xs-6 col-centered search">
	       			Search
	       		</div>
    	   		<div class="col-xs-6 col-centered visualization">	Visualization
    	   		</div>
    		</div>
		</div>
		<svg id="visualization" width="1000" height="500"></svg>

    </body>

    <script type="text/javascript" src="static/js/visualize.js"></script>

</html>
