<!DOCTYPE html>

<html>
	<head>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="static/js/visualize.js"></script>


		<script>
			function toggleOverlay(){
				var overlay = document.getElementById('overlay');
				var specialBox = document.getElementById('specialBox');
				overlay.style.opacity = .8;
				if(overlay.style.display == "block"){
					overlay.style.display = "none";
					specialBox.style.display = "none";
				} else {
					overlay.style.display = "block";
					specialBox.style.display = "block";
				}
			}
		</script>

		<title>stockR</title>

	</head>

	<body>
    	<h1 align="center">stockR</h1>

			<div id="overlay"></div>

			<div id="specialBox">
			  <p>Special box content ...</p>

			</div>

    	<div class="container">
    		<div class="row row-centered">
	       		<div class="col-xs-6 col-centered search">
	       			Search
	       		</div>
    	   		<div class="col-xs-6 col-centered visualization">	Visualization
    	   		</div>
    		</div>
		</div>
		<svg id="visualization" width="1000" height="500"></svg>

    </body>

</html>
