<!DOCTYPE html>

<html>
	<head>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="static/js/visualize.js"></script>

		</script>

		<title>stockR</title>
	</head>

	<body>
    	<h1 align="center">stockR</h1>
    	<div class="display">
				<div class="col-xs-2 available">

				</div>
				<div class="mid-panel col-xs-8">
					<div class="d3-container">
						<svg class="d3-panel">
						</svg>
					</div>
				</div>
				<div class="col-xs-2 active"></div>
			</div>
    </body>

</html>
